.PostListBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.PaginationList {
    position: relative;
    bottom: 0px;
}

.sortBox {
    display:grid;
    grid-template-columns: 7% 50% 43%;
    grid-template-rows: repeat(1, 50px);
    background: #474955;
}

.sortBoxItem {
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.gridContainer {
    min-height: 600px;
}

.container {
   display:grid;
   grid-template-columns: 7% 50% 43%;
   grid-template-rows: repeat(1, 60px);
   font-size: var(--font-size-s);
}

.item, 
.item_id {
    border: 0.2px solid #E3E6EC;
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item_id {
    justify-content: center;
}

.loaderBox {
   margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: relative;
    top: 4px;
    left: 20px;
    cursor: pointer;
}