.PostListBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sortBox {
    display:grid;
    grid-template-columns: 7% 50% 43%;
    grid-template-rows: repeat(1, 50px);
    background: #474955;
}

.sortBoxItem {
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;

    @media (max-width: 610px) {
        font-size: var(--font-size-s);
    }
    @media (max-width: 510px) {
        font-size: var(--font-size-xs);
    }
}

.gridContainer {
    min-height: 600px;
}

.container {
   display:grid;
   grid-template-columns: 7% 50% 43%;
   grid-template-rows: repeat(1, 60px);
   font-size: var(--font-size-s);

   @media (max-width: 1110px) {
    grid-template-rows: repeat(1, 80px);
   }

   @media (max-width: 960px) {
    grid-template-rows: repeat(1, 100px);
   }
   @media (max-width: 610px) {
    grid-template-rows: repeat(1, 130px);
   }
   @media (max-width: 510px) {
    grid-template-rows: repeat(1, 145px);
   }
   @media (max-width: 460px) {
    grid-template-rows: repeat(1, 150px);
   }
   @media (max-width: 375px) {
    grid-template-rows: repeat(1, 160px);
   }
}

.item, 
.item_id {
    border: 0.2px solid #E3E6EC;
    display: flex;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 960px) {
        font-size: var(--font-size-xs);
    }
    @media (max-width: 510px) {
        font-size: var(--font-size-xxs);
        padding: 1px;
    }

}

.item_id {
    justify-content: center;
}

.loaderBox {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: relative;
    top: 4px;
    left: 20px;
    cursor: pointer;

    @media (max-width: 510px) {
        left: 5px;
    }
}