.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.paginList {
    display: flex;
    gap: 10px;
    font-size: var(--font-size-l);

    @media (max-width: 610px) {
        font-size: var(--font-size-s);
    }
    @media (max-width: 510px) {
        font-size: var(--font-size-xxs);
        gap: 5px;
    }
}

.listBtn,
.activListBtn {
    cursor: pointer;
    font-style: italic;
}

.activListBtn {
    color: #7ebc3c;
}

.pagBackBtn,
.pagFirstBtn {
    font-size: var(--font-size-xl);
}
